@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Author Contact Information</h3>

<address>
    Valtteri Saarela<br />
    Sotkatie 1, 01450 Vantaa<br />
    <abbr title="Phone">P:</abbr>
    +358504676150 <br/>
    saarela.valtteri@hotmail.com
</address>
